{% extends "core/base.html" %}

{% load add_class %}

{% block title %}Setting New Password{% endblock title %}

{% block content %}
<h2>Set New Password</h2>

<form action="" method="POST">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice. 
           So we can verify you typed it in correctly.</p>
                
        <p>
        <div class="form-group">
            <label for="id_new_password1">{{ form.new_password1.label_tag }}</label>
            {% if form.new_password1.errors %}<div class="alert alert-danger">{{ form.new_password1.errors }}</div>{% endif %}
          {{ form.new_password1|add_class:'form-control input-lg' }}
        </div>
        </p>
                
        <p>
        <div class="form-group">
            <label for="id_new_password2">{{ form.new_password2.label_tag }}</label>
            {% if form.new_password2.errors %}<div class="alert alert-danger">{{ form.new_password2.errors }}</div>{% endif %}
            {{ form.new_password2|add_class:'form-control input-lg' }}
        </div>
        </p>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid, 
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}
            
    <button class="btn btn-lg" type="submit">Change My Password</button>
</form>
{% endblock content %}