/*
#089992
#B7B7B7
#D9D9D9
#9AC644
#F1D930
#FFE599
*/

/* body font color whitish */
body {
  color: #000000;
}

/* customize bootstrap navbar */
.navbar {
  background-color: rgb(224, 236, 212);
}
.navbar-brand {
  padding: 0px;
}

.nav {
  padding-left: 50px;
}

.navbar-form {
  text-align: right;
}

.navbar-nav > li > a {
  margin-top: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nav-bar-login-form {
  margin-top: 5px;  
}

#nav-bar-login-form a,
#nav-bar-login-form a:hover,
#nav-bar-login-form a:focus {
  color: #000000;
}

#nav-bar-login-form {
  margin-top: 10px;
}

#center-sign-up-form {
  width: 500px; margin: 200px auto 0 auto;
}

#center-sign-up-form h1 {
  text-align: center;
}

/* separate the menus */
.navbar-nav > li {
  margin-right: 20px;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active a:focus {
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #BBBBBB;
  border-bottom-style: none;
}

.navbar-nav > li > a {
  color: rgb(80, 154, 198);
}

.navbar-nav > li > a:hover {
  color: rgb(80, 154, 255);
}


/* Set the position and dimensions of the background image. */
#bg {
  position:fixed; top:0; left:0; min-width:100%; min-height:100%;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 70px; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.6;
}

/* Specify the position and layering for the content that needs to appear in front of the background image. Must have a higher z-index value than the background image. Also add some padding to compensate for removing the margin from the 'html' and 'body' tags. */

#content {
  position:relative; z-index:1; padding-top:100px;
  min-height: 100%;
}

footer {
  position: absolute;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(224, 236, 212);
  color: #000000;
}

.footer-text {
  margin-top: 5px;
}

/* for blurb and sign up form */
.holder {
  position:relative;
  z-index: 10;
  margin-top: 25px;
}

.overlay {
  background-color: rgba(153, 204, 50, 0.25);
  z-index: 11;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 30px;
}

.overlay h1, .overlay p {
  color: #000000;
  opacity: 1.0;
  z-index: 11;
}

.overlay .sub-heading {
  font-size: 1.2em;
}

.signup-holder {
  position: relative;
  margin-top: 25px;
  z-index: 10;
}

.signup-overlay {
  position: absolute;
  background-color: rgb(153, 204, 50);
  z-index: 11;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; 
  padding: 20px;
}

.signup-overlay h2 {
  color: #000000;
  opacity: 1.0;
  z-index: 11; 
}

.signup-button {
  text-align: right; 
}

/* password_reset_form.html */
#email-entry-form {
  margin-top: 50px;
}

/* dashboard home */
.add-expense-form {
  background: rgb(177, 221, 140);
  padding: 1px 5px 1px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  margin-top:10px;
}

.add-expense-form h4 {
  text-align: center;
  color: #ffffff;
}

.reduce-width {
  width: 90%;
}

.increase-width {
  width: 110%;
}

.reduce-right-padding-0 {
  padding-right: 0px;
}

.reduce-left-padding-0 {
  padding-left: 0px;
}


.reduce-right-padding-10 {
  padding-right: 10px;
}

.reduce-left-padding-10 {
  padding-left: 10px;
}

.recent-requests {
}

.align-right {
  text-align: right;
}

.recent-requests h4 {
  text-align: center;
}

.expense-chart {
  text-align: center;
}

.grey-area {
  background: rgb(245, 245, 245);
  padding: 1px 5px 1px 5px;
  border-width: 1px;
  border-style: solid;  
  color: rgb(122, 122, 122);
  min-height: 600px;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.center-align {
}

.total-expense-cost {
  color: rgb(67, 141, 251);
}

.total-expense-summary {
  font-size: 1.2em;
  font-weight: bold;
}