{% extends "core/base.html" %}
{% load staticfiles %}

{% block background %}
  <div id="bg"><img src="{% static "img/background.jpg" %}"></div>
{% endblock %}

{% block content %}

  <!-- body content -->
  <div class="row">

      <div id="center-sign-up-form">
        <h1>Join, Share and Care</h1>
        <form class="{% if signup_form.errors %}has-error {% endif %}" method="POST" action="{% url 'core.views.sign_up' %}">
          {% csrf_token %}
          {% if signup_form.errors %}
            <div class="alert alert-danger">
            {{ signup_form.errors }}
            </div>
          {% endif %}
          <table>
          <tr>
              <td>{{ signup_form.email.label_tag }}</td>
              <td>{{ signup_form.email }}</td>
          </tr>
          <tr>
              <td>{{ signup_form.password1.label_tag }}</td>
              <td>{{ signup_form.password1 }}</td>
          </tr>
           <tr>
              <td>{{ signup_form.password2.label_tag }}</td>
              <td>{{ signup_form.password2 }}</td>
          </tr>     
          </table>
          <p>&nbsp;</p>
          <input type="submit" class="col-lg-offset-9 btn btn-default btn-lg" value="Sign Up" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>

  </div>

{% endblock %}

